@import "tailwindcss";
@plugin "daisyui";

.roboto {
  font-family: "Roboto", sans-serif;
  
}



/* Theme-based Button */
.button {
  --primary-dark: #1e2a47;   /* main background */
  --primary-mid:  #2a3a5e;   /* mid shade */
  --primary-border: #3b4c74; /* border & accent */
  --primary-light: #5a6d9a;  /* highlight */
  --white: #ffffff;

  border-radius: 8px;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  border: none;
  color: var(--white);
  position: relative;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 0.2s;
  background-color: var(--primary-dark);
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    var(--primary-dark),
    var(--primary-mid),
    var(--primary-border),
    var(--primary-light),
    var(--primary-border),
    var(--primary-mid),
    var(--primary-dark)
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes floatChain {
  0%, 20%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px);
  }
}

.float-chain {
  animation: floatChain 6s ease-in-out infinite;
}

.button:after {
  filter: blur(50px);
}


